
.realModalOutside {
    display: flex;
    justify-content: center;
}

.realModalContent {
    display: flex;
    flex-direction: column;
    position: relative;
    /* top: 80px; */
    justify-content: center;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    padding: 10px;
    width: 550px;
    box-shadow:  1px 1px 2px 2px lightgrey;
    border-radius: 10px;
    align-items: center;
}


.modalOutside {
    display: flex;
    justify-content: center;
}

.modalContent {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 80px;
    justify-content: center;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    padding: 10px;
    width: 500px;
    box-shadow:  1px 1px 2px 2px lightgrey;
    border-radius: 10px;
}

.formTop {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* align-items: center; */
    /* margin: 25px; */

}

.outerFormTop {
    width: 100%;
    margin-left: 2.5rem;
}
.CreateSpotForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.CreateSpotForm div {
    display: flex;
    justify-content: space-between;

}

/* Note: this means it is a div and an input and has the CreateSpotForm className */
.CreateSpotForm  div  input {
    width: 500px;
    height: 38px;
    border: 1px solid rgb(164, 161, 161);
    /* border-radius: 10px; */
    box-shadow:  1px 1px 2px 2px lightgrey;

}






.CreateSpotDescriptionBox {
    /* border: 10px red solid; */
    display: flex;
    justify-content: flex-end;
    width: 500px;
    font-family: 'Poppins', sans-serif;
    /* border-radius: 10px; */
    box-shadow:  1px 1px 2px 2px lightgrey;
}

.CreateSpotDescriptionBox2 {
    /* border: 10px red solid; */
    display: flex;
    justify-content: flex-end;
    width: 500px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    box-shadow:  1px 1px 2px 2px lightgrey;
}

.flexStart {
    display: flex;
    justify-content: flex-start;
    width: 500px;
;
}

.createButton {
    background-color: white;
    border: 1px solid rgb(164, 161, 161);
    border-radius: 10px;
    box-shadow:  1px 1px 2px 2px lightgrey;
    width: 508px;
    height: 40px;
    background-color: rgb(244, 47, 80);
    color: white;
    margin-bottom: 10px;
    margin-top: 15px;
}

.cancelButton {
    display: flex;
    justify-content: flex-start;
    width: 20px;
    background-color: white;
    border: white

}


.wholePreviewImage {
    display: flex;
    height: 20px;
    width: 500px;
}

.prevImageTextBox {
    height: 20px;
    font-size: 12px;
}

.prevImageTextBoxText {
    font-size: 12px;
    height: 20px;
}

.prevImageButton {
    width: 20px;
}

.checkbox {
    width: 10px;
}


.labelForForm {
    font-size: 13px;
    color: rgb(164, 161, 161);

}

.ulNoBullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
