@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

 form {
    font-family: 'Open Sans';
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;

} 
