@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* form {
    font-family: 'Open Sans';
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;

} */

li {
    font-size: 20px;
}

#wholeNav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: lightcoral;


}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  font-size: 24px;
}

#rightNav {
    display: flex;
}
